.testimonials.carousel .carousel-slide .carousel-slide-content {
  height: 100%;
  width: 100%;
  color: gray;
  background-color: rgb(172 172 233);
  padding: 1.25rem;
  margin: 0 0 1.875rem;
}

.testimonials.carousel .carousel-slide .carousel-slide-content p:nth-last-of-type(2) {
  display: inline-flex;
  font-weight: bold;
}

.testimonials.carousel .carousel-slide .carousel-slide-content p:last-of-type {
  display: inline-flex;
  padding-left: 0.625rem;
}

@media (width >= 600px) {
  .testimonials.carousel .carousel-slide .carousel-slide-content {
    padding: 3.125rem;
  }
}