.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.section.text-with-icons .columns > div {
  align-items: flex-start;
}

.section.text-with-icons .columns > div > div {
  margin-bottom: 1.5rem;
}

.section.text-with-icons .columns > div > div > p:first-of-type:has(picture) {
  width: 100px;
  height: 100px;
  margin: 0;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
