.section.main-banner-container .main-banner-wrapper {
    max-width: none;
    padding: 0;
}

.block.main-banner {
  padding: 0;
}

.block.main-banner > div {
  grid-row: 1;
  grid-column: 1;
}

.block.main-banner .background p {
  margin: 0;
}

.block.main-banner .background img {
  display: block;
  width: 100%;
}

.block.main-banner .background .desktop-image {
  display: none;
}

.block.main-banner .content-holder {
  padding: 1.25rem 1.563rem;
}

.block.main-banner .content-holder h1,
.block.main-banner .content-holder h2,
.block.main-banner .content-holder h3,
.block.main-banner .content-holder h4,
.block.main-banner .content-holder h5,
.block.main-banner .content-holder h6 {
  display: inline-block;
  margin: 0 0 0.938rem;
}

.block.main-banner .content-holder p {
  margin: 0 0 0.625rem;
}

.block.main-banner .content-holder .button-container {
  margin: 0;
}

.block.main-banner .breadcrumbs {
    position: absolute;
    top: 53px;
    padding: 0;
    max-width: 100%;
    width: 100%;
}

.block.main-banner .breadcrumbs ol {
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
}

@media (width < 900px) {
  .block.main-banner .content-holder {
    color: var(--rsm-white);
    background: var(--rsm-blue);
  }

  .block.main-banner.title-bg-green .content-holder {
    color: var(--rsm-white);
    background: var(--rsm-primary-green);
  }
}

@media (width >= 900px) {
  .block.main-banner {
    position: relative;
  }

  .block.main-banner .background img {
    min-height: 400px;
    object-fit: cover;
  }

  .block.main-banner .background .mobile-image {
    display: none;
  }

  .block.main-banner .background .desktop-image {
    display: block;
  }

    .block.main-banner .breadcrumbs ol {
        max-width: 1264px;
    }

  .block.main-banner .content-holder {
    position: absolute;
    top: 106px;
    left: 0;
    width: 100%;
    padding: 0;
    z-index: 1;
  }

  .block.main-banner .content-holder >div {
    max-width: 1264px;
    padding: 0 2rem;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .block.main-banner.dark-bg .content-holder {
    color: var(--rsm-white);
  }

  .block.main-banner.title-bg-blue h1,
  .block.main-banner.title-bg-blue h2,
  .block.main-banner.title-bg-blue h3,
  .block.main-banner.title-bg-blue h4,
  .block.main-banner.title-bg-blue h5,
  .block.main-banner.title-bg-blue h6 {
    padding: 0.625rem 1.563rem;
    color: var(--rsm-white);
    background: var(--rsm-blue);
  }

  .block.main-banner.title-bg-green h1,
  .block.main-banner.title-bg-green h2,
  .block.main-banner.title-bg-green h3,
  .block.main-banner.title-bg-green h4,
  .block.main-banner.title-bg-green h5,
  .block.main-banner.title-bg-green h6 {
    padding: 0.625rem 1.563rem;
    color: var(--rsm-white);
    background: var(--rsm-primary-green);
  }

  .block.main-banner[class*="overlay-"] .background::before {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100%;
      width: 60%;
      background-size: contain;
  }

  .block.main-banner.overlay-blue .background::before {
      background: url('../../images/progress-blue.svg') no-repeat bottom right;
  }

  .block.main-banner.overlay-green .background::before {
      background: url('../../images/progress-green.svg') no-repeat bottom right;
  }

  .block.main-banner .content-holder h1,
  .block.main-banner .content-holder h2,
  .block.main-banner .content-holder h3,
  .block.main-banner .content-holder h4,
  .block.main-banner .content-holder h5,
  .block.main-banner .content-holder h6 {
    margin-bottom: 2.5rem;
  }

  .block.main-banner .content-holder p {
    max-width: 590px;
    margin-bottom: 1.125rem;
  }

  .block.main-banner .content-holder .button-container {
    margin: 0;
  }
}
