.nav-wrapper {
  display: none;
}

.authors {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.25rem;
}

.author {
  width: 100%;
  padding: 0 1.25rem;
  margin-bottom: 1.875rem;
}

.authors .profile {
  border-top: 1px solid var(--rsm-light-grey);
  border-bottom: 1px solid var(--rsm-light-grey);
  padding: 1.875rem 0;
}

.authors .profile-top {
  margin-bottom: 1.25rem;
  width: 100%;
}

.authors .profile-image {
  text-align: center;
}

.authors .profile-image img {
  width: 168px;
  height: 168px;
  object-fit: cover;
  border-radius: 50%;
  vertical-align: bottom;
}

.authors .profile-content {
  text-align: center;
}

.authors .profile-name {
  margin: 0 0 0.25rem;
  font-size: var(--heading-font-size-l);
  line-height: 1.35;
  font-weight: normal;
}

.authors .profile-role {
  margin: 0 0 0.25rem;
  font-size: var(--body-font-size-s);
  line-height: 1.5;
}

.authors .button {
  width: 100%;
}

.authors .profile-actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 0.625rem;
}

.authors .profile-actions .button {
  width: 100%;
}

.single-author .author {
  width: 100%;
}


.single-author.authors .profile-top {
  display: flex;
  align-items: flex-end;
}

.single-author.authors .profile-content {
  text-align: left;
  padding-left: 1.875rem;
}

.single-author.authors .button:not(:last-child) {
  margin-block-end: 0.625rem;
}

.single-author.authors .profile-actions {
  justify-content: flex-start;
}

@media (width >=900px) {
  .author {
    width: 33.3333%;
  }

  .authors .button {
    width: auto;
  }

  .single-author.authors .profile {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-end;
    position: relative;
    padding-left: 198px;
    min-height: 168px;
  }

  .single-author.authors .profile-image {
    max-width: 168px;
    position: absolute;
    left: 0;
    bottom: 1.25rem;
    text-align: left;
  }

  .single-author.authors .profile-content {
    padding-left: 0;
  }

  .single-author.authors .profile-actions .button {
    width: auto
  }

  .authors .profile-name {
    line-height: 1.2083;
  }

  .single-author.authors .button:not(:last-child) {
    margin-right: 0.625rem;
    margin-bottom: 0;
  }

  .single-author.authors .profile-actions {
    width: 100%;
  }
}