.desktop-image-wrapper {
    display: none;
}

.mobile-image-wrapper {
    display: block;
}

.header-banner img {
    width: 100%;
    vertical-align: bottom;
}

main>.section>div.header-banner-wrapper {
    max-width: 100%;
    padding: 0;
}

.header-banner .text-wrapper h2 {
    display: inline-block;
}

.text-wrapper {
    color: white;
    padding: 20px 25px;
}

.header-banner.title-bg-green .text-wrapper {
    background-color: #3F9C35;
}

.header-banner.title-bg-blue .text-wrapper {
    background-color: #009CDE;
}

.header-banner {
    position: relative;
}


@media (width >=769px) {
    .text-wrapper {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin-top: -95px;
        padding: 0;
    }

    .text-wrapper div {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 32px;
    }

    .header-banner.title-bg-green .text-wrapper {
        background-color: transparent;
    }

    .header-banner.title-bg-blue .text-wrapper {
        background-color: transparent;
    }

    .header-banner.title-bg-green .text-wrapper h2 {
        background-color: #3F9C35;
    }

    .header-banner.title-bg-blue .text-wrapper h2 {
        background-color: #009CDE;
    }

    .desktop-image-wrapper {
        display: block;
    }

    .mobile-image-wrapper {
        display: none;
    }
}