* {
    box-sizing: border-box;
    
}
.cta-blocks {
    color:white;
}

.cta-blocks img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}

.cta-blocks {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.cta-blocks>div {
    position: relative;
    display: flex;
}

.cta-blocks>div>div+div {
    position: absolute;
    align-self: flex-end;
    inset: 0;
    padding: 0 50px;
    padding-bottom: 36px;
    background: linear-gradient(182.29deg, rgb(0 21 61 / 0%) 1.84%, rgb(0 21 61 / 80%) 59.29%, rgb(0 21 61 / 90%) 98.07%);
}

